@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: var(--textPrimary);
	background-color: var(--background);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: var(--primary);
	text-decoration: inherit;
}
a:hover {
	color: var(--accent);
}

input:focus {
	outline-color: var(--accent);
}

select.decorated option:hover {
	box-shadow: 0 0 10px 100px #1882a8 inset;
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--textPrimary);
		background-color: var(--background);
	}
	a:hover {
		color: var(--highlight);
	}
	button {
		background-color: var(--secondary);
		color: white;
	}
}

@layer base {
	:root {
		--primary: #1e40af;
		--secondary: #60a5fa;
		--accent: #2563eb;
		--background: #f8fafc;
		--textPrimary: #1e293b;
		--textSecondary: #64748b;
		--border: #cbd5e1;
		--highlight: #93c5fd;
		--radius: 0.5rem;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
